# DATABASE CONFIGURATIONS
# =========================

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.initialization-mode=always
spring.jpa.database=MYSQL
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL8Dialect
spring.datasource.continue-on-error = true
spring.jpa.properties.hibernate.event.merge.entity_copy_observer=allow

server.port=${PORT:8080}

# SPRING MAIL CONFIGURATIONS
# ================================

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.main.allow-circular-references=true

# APPLICATION CONFIGURATIONS
# ===============================

user-account-app.senderEmail=
user-account-app.clientUrl = http://localhost:3000
user-account-app.uploadDir=/uploads/users/documents